*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-red:#a71930;
    --color-black:#000000;
    --color-grey:#a5acaf;
    --color-lightgrey:#d0d2d3;
}

body{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    width: 100vw;
    height: 100vh;
    margin: 50px auto;
    background-color: var(--color-lightgrey);
    font-family: 'Poppins', sans-serif;
}


form{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--color-black);
    width: 360px;
    height: 420px   ;
}


.button{
    background-color: var(--color-grey);
    border: none;
    color: var(--color-black);
    width: 100%;
    padding: 8px;
}
.button:hover{
    cursor: pointer;
    background-color: var(--color-red);
    transition: .3s;
    color: var(--color-black);
    box-shadow: 0px 4px 2px 2px var(--color-black);
}

.showTiendas{
    /* width: 100px; */
    height: 2.5rem;
    padding: .5rem;
    border: 1px solid var(--color-black);
    background-color: var(--color-red);
}

/* nuevo box */

.resultadoTienda{
    display: none;
}
.showTienda{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
    flex-direction: column; 
    width: 360px;
    height: 420px   
}
.showTienda p{
    color: red;
}
.showTienda:hover{
    box-shadow: 0px 4px 2px 2px var(--color-black);
    background-color: var(--color-grey);
    color:var(--color-red);
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; 
}

.tienda{
    border: 1px solid var(--color-black);
    border-radius: .5rem;
    padding: 1rem;
    color: var(--color-black);
}

#contenedorTiendas{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* justify-content: space-evenly; */
    /* align-items: center; */
}